body{margin:0; padding:0; font:1em Droid Sans,sans-serif,Verdana,Arial,FreeSans; color:#272828; word-wrap:break-word}
p{margin:0;line-height:1.5em}
ul{margin:0; padding:0.4em 0; list-style:none; float:right}
ul li{float:left; padding:0 0.2em}
ul li.last_item{padding-right:0}
ul li a{text-decoration:none; color:#272828; background:#e3e8e8; border-radius:0.3em; padding:0.2em}
ul li a:hover{text-decoration:underline}
blockquote{border-left:0.4em solid #e3e8e8; margin-left:0; padding-left:1em}
.lpos{float:left}
.rpos{float:right}
.mpos{margin:0 auto; display:block}
#wrapper{width:870px; margin:2em auto; background:url(/workspace/media/top2.png) no-repeat top center,url(/workspace/media/bottom2.png) no-repeat bottom center,url(/workspace/media/single2.png) repeat top center}
#content{width:720px; margin:0 auto; padding-top:70px; padding-bottom:70px}
#nav_wrap{overflow:hidden; border-bottom:0.3em solid #e3e8e8; padding-bottom:0.1em}
#nav_wrap h1{color:#F80; font-size:1.2em; font-weight:normal; float:left; padding:0.2em; padding-left:0; margin:0}
#main{margin-top:1em; margin-bottom:0.5em}
#main .article{border-bottom:0.3em dotted #e3e8e8; padding-bottom:0.5em;  margin-top:1em; text-align:justify}
#main .last{border:0}
#main .article h2{font-size:1.4em; margin:0; color:#F80}
#main .article h2 a{font-size:0.8em; text-decoration:none; color:#272828; font-weight:normal}
#main .article h2 a:hover{text-decoration:underline}
#main .article h3{font-size:1.05em; font-weight:normal; margin-bottom:0.5em; border-bottom:0.1em solid #e3e8e8}
#main .article p{margin-bottom:0.7em}
#main .article a{text-decoration:underline; color:#272828}
#main .article a:hover{color:black}
#main .article ul{float:none; margin-left:2em; text-align:left;}
#main .article ul li{list-style-type:circle; float:none}
#main .article ul li a{background:none}
#main .article .info{font-size:0.8em; margin-bottom:0.5em; margin-left:1.5em}
#main .article .info a{text-decoration:none; color:#272828}
#main .article .info a:hover{text-decoration:underline}
#main .article table {border-collapse:collapse;border-left:0.4em solid #e3e8e8}
#main .article table thead {border-bottom:0.1em solid #272828}
#main .article table tr {border-bottom:0.1em solid #272828}
#main .article table tr:last-child {border-bottom:none}
#main .article table tr th{font-weight:normal;padding:0.2em 1em}
#main .article table tr td{padding:0.2em 1em}
#main a img{padding:0.2em; border:0.1em solid #e3e8e8; display:block;  margin-left:auto;  margin-right:auto}
#main a img.clear{border:none}
#main .comments{margin-top:0.5em; font-size:0.95em}
#main .comments h3{font-weight:normal; font-size:1.25em; margin:0}
#main .comments ol{list-style:none; padding:1em; margin:0}
#main .comments .nocomments{padding:1em}
#main .comments li{border-top:0.3em solid #e3e8e8; margin-bottom:0.5em}
#main .comments li .info{font-size:0.75em}
#main .comments li a{text-decoration:underline; color:#272828}
#main .comments li a:hover{color:black}
#comment_form{padding:1em}
#comment_form input{border:0.3em solid #e3e8e8; margin:0.3em 0 0.3em 0}
#comment_form textarea{border:0.3em solid #e3e8e8; width:100%; height:10em}
#comment_form .markupinfo{font-size:0.7em}
#comment_form .hidden{display:none;}
#pagination{height:1.5em; margin-top:0.5em}
#pagination span.disabled{display:none}
#pagination span a{text-decoration:none; color:#272828}
#pagination span a:hover{text-decoration:underline}
#pagination span a.pagination-previous{float:left}
#pagination span a.pagination-next{float:right}
#footer_wrap{overflow:hidden; border-top:0.3em solid #e3e8e8; padding-top:0.3em}
#footer_wrap .left{float:left; min-width:400px}
#last_line{ border-top:0.3em solid #e3e8e8; height:1.5em; padding-top:0.3em}
#last_line a{text-decoration:none; color:#272828}
#last_line a:hover{text-decoration:underline}
#last_line ul{margin-top:-0.2em}
.archiv{ overflow:hidden}
.archiv a{color:#272828; text-decoration:none}
.archiv a:hover{text-decoration:underline}
.archiv .left{ float:left}
.archiv .right{overflow:hidden; min-width:240px}
.taglist ul{margin-top:0.2em; padding:0.3em;  float:none}
.taglist ul li{margin:0.2em 0 0.2em 0; margin-top:0; padding:0.2em}
.articlelist ol{margin:0; padding:0.3em;  list-style:none}
.articlelist ol li{background:#e3e8e8; border-radius:0.3em; margin:0.2em; padding:0.2em}
.articlelist ol li a{color:#272828; text-decoration:none}
.articlelist ol li a:hover{text-decoration:underline}
.archivlist ol{margin-top:0.2em; border-top:0.1em solid #e3e8e8}
.archivlist ol li{background:none; padding-left:1em; font-size:0.8em}
.archivlist ol li.dateitem{padding:0; font-weight:bold}
.archivtag ul{margin-top:0.2em; border-top:0.1em solid #e3e8e8}
.archivtag div{overflow:hidden; margin-bottom:0.5em}
.tweetlist li a{background:none}
.tweetlist li em{font-style:normal; font-size:1.4em; color:#F80}
.commentlist ol{margin-top:0.2em; border-top:0.1em solid #e3e8e8}
.commentlist ol li{background:none; font-size:0.8em}
.commentlist ol li.dateitem{padding:0; font-weight:bold}
.project{border-bottom:0.2em dotted #e3e8e8; padding-top:0.5em; padding-bottom:0.5em; overflow:hidden}
.project img{background:#e3e8e8; border-radius:0.3em; padding:0.2em; margin-right:1em; width:200px; height:150px}
@media screen and (max-width:870px){#wrapper{width:100%; margin:0; background:none}
#content{width:98%; margin:0 auto; padding:0}
img.full{width:98%}
}
.kwd{color:#93C763}.com{color:#66747B}.typ{color:#678CB1}.lit{color:#FACD22}.tag{color:#8AC763}.atn{color:#E0E2E4}.dec{color:purple}pre.prettyprint{background-color:#222;border-radius:8px;width:95%;white-space:pre-wrap;color:#FFF;font-size:.9em;margin:1em auto;padding:1em}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9{color:#555}li.L1,li.L3,li.L5,li.L7,li.L9{background:#222}.str,.atv{color:#EC7600}.pun,.pln{color:#F1F2F3}@media print{.com{color:#600;font-style:italic}.typ{color:#404;font-weight:700}.lit{color:#044}.pun{color:#440}.atn{color:#404}pre.prettyprint,.pln{color:#000}.str,.atv{color:#060}.kwd,.tag{color:#006;font-weight:700}}
